body{
    margin: 0;
    overflow:hidden;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: black;
    color: white;
    width: 100%;
    display:flex;
    justify-content: center;
    box-shadow: 0px 0px 20px 20px rgb(0, 23, 70) inset;
    height: 250px;
    display: grid;
    place-items: center;
}
#kolobg{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    overflow:hidden;
    z-index: 10;
    pointer-events: none;
}
@keyframes animate{
    0%{
        opacity: 1;
        border-radius: 25%;
        transform: translateY(0) rotate(0deg);
    }
    100%{
        opacity: 0;
        border-radius: 25%;
        transform: translateY(-1000px) rotate(720deg);
    }
}
#kolobg div{
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: -150px;
    animation: animate 25s linear infinite;
}
#kolobg div:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
#kolobg div:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
#kolobg div:nth-child(3){
    left: 30%;
    width: 50px;
    height: 50px;
    animation-delay: 1s;
    animation-duration: 6s;
}
#kolobg div:nth-child(4){
    left: 70%;
    width: 80px;
    height: 80px;
    animation-delay: 4s;
    animation-duration: 9s;
}
#kolobg div:nth-child(5){
    left: 90%;
    width: 100px;
    height: 100px;
    animation-delay: 7s;
    animation-duration: 5s;
}
#kolobg div:nth-child(6){
    left: 40%;
    width: 13px;
    height: 13px;
    animation-delay: 6s;
    animation-duration: 9s;
}
#kolobg div:nth-child(7){
    left: 60%;
    width: 30px;
    height: 30px;
    animation-delay: 10s;
    animation-duration: 20s;
}
#kolobg div:nth-child(8){
    left: 80%;
    width: 40px;
    height: 40px;
    animation-delay: 3s;
    animation-duration: 15s;
}
#kolobg div:nth-child(9){
    left: 90%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    animation-duration: 9s;
}
#kolobg div:nth-child(10){
    left: 35%;
    width: 60px;
    height: 60px;
    animation-delay: 3s;
    animation-duration: 12s;
}
#kolobg div:nth-child(11){
    left: 25%;
    width: 70px;
    height: 70px;
    animation-delay: 5.5s;
    animation-duration: 14s;
}
button{
    background-color: rgb(0, 9, 48);
    border: 1px solid rgb(0, 14, 75);
    color: white;
    border-radius: 50px;
    font-size: large;
    cursor: pointer;
    margin: 10px;
    width: 200px;
    height: 50px;
    transition: transform 0.2s;
}
button:hover{
    transform: scale(1.15);
}
#przyciski{
    justify-content: right;
    display: inline;
    margin-left: 175%;
    width: 500px;
}
#tekst h1{
    font-variant: small-caps;
    font-size: 75px;
    margin: 0;
    background-image: linear-gradient(to right, white, black);
    color: transparent;
    background-clip: text;
}
#html h1, #css h1, #js h1, #php h1, #frontend h1, #backend h1, #fullstack h1{
    display: inline-block;
    margin: 0;
    margin-left: 10%;
    margin-bottom: 30%;
    vertical-align: middle;
}
#tekst{
    float:left;
    width: 800px;
    font-size: large;
}
#elementy{
    width: 625px;
    float:left;
    margin-left: 250px;
}
main{
    height: 441px;
    background-color: rgb(0, 3, 22);
    color: white;
    padding: 35px;
}
#elementy img{
    width: 75px;
    margin-top: 15px;
    margin-left: 25px;
    padding: 10px;
    background-color: rgb(0, 40, 92);
    border-radius: 25%;
}
#html, #css, #js, #php, #frontend, #backend, #fullstack{
    display: inline-block;
    width: 300px;
    height: 125px;
    background-color: rgb(0, 14, 75);
    border-radius: 125px;
    color: white;
    margin: 5px;
}
#logo{
   position: absolute;
   font-variant: small-caps;
    font-size: 75px;
    margin: 0;
    background-image: linear-gradient(to right, white, rgb(32, 32, 32));
    color: transparent;
    background-clip: text;
    margin-right: 100px;
}
#flogo{
    width: 100px;
}
footer{
    width: 100%;
    background-color: black;
    color: white;
    float:left;
}